server:
  port: 8080

spring:
  application:
    name: expense-service

  config:
    import: "optional:configserver:https://config-server-bph7.onrender.com"

  cloud:
    config:
      enabled: true
      fail-fast: false
